import(pbapply)

importFrom(NetworkToolbox,"TMFG")

# Default functions:
export(bootnet_IsingFit)
export(bootnet_EBICglasso)
export(bootnet_ggmModSelect)
export(bootnet_pcor)
export(bootnet_cor)
export(bootnet_IsingSampler)
export(bootnet_adalasso)
export(bootnet_huge)
export(bootnet_mgm)
export(bootnet_relimp)
export(bootnet_TMFG)
export(bootnet_LoGo)
export(bootnet_ggmModSelect)
export(bootnet_graphicalVAR)



# Defaults:
importFrom(huge,"huge","huge.npn","huge.select")
importFrom(parcor,"adalasso.net")
import(mgm)
importFrom(relaimpo, "calc.relimp")

# exportPattern("^[[:alpha:]]+")
# Exports:
export(bootnet)
export(null)
export(binarize)
export(estimateNetwork)
export(differenceTest)
export(corStability)


# Methods:
S3method(summary, bootnet)
S3method(plot, bootnet)
S3method(print, bootnet)
S3method(summary, bootnetResult)
S3method(plot, bootnetResult)
S3method(print, bootnetResult)

S3method(summary, netSimulator)
S3method(plot, netSimulator)
S3method(print, netSimulator)

S3method(summary, replicationSimulator)
S3method(plot, replicationSimulator)
S3method(print, replicationSimulator)

export(replicationSimulator)
export(netSimulator)
export(genGGM)
export(ggmGenerator)
export(IsingGenerator)

# Imports:
import(dplyr)
import(parallel)
importFrom(IsingFit,"IsingFit")
import(qgraph)
import(ggplot2)
importFrom("igraph", "get.adjacency","watts.strogatz.game")
import(tidyr)
importFrom(gtools, "mixedorder")
importFrom(corpcor, "cor2pcor")
importFrom(IsingSampler, "IsingSampler")
importFrom(corpcor, "pseudoinverse")
importFrom(mvtnorm, "rmvnorm")
importFrom(IsingSampler, "EstimateIsing")
importFrom(abind,"abind")
importFrom(Matrix,"forceSymmetric")
importFrom(BDgraph, "bdgraph.sim")

#export(centrality)

 importFrom("methods", "is")
  importFrom("stats", "cor")
  importFrom("utils", "setTxtProgressBar", "txtProgressBar")
    importFrom("stats", "na.omit", "quantile", "runif", "sd")
  importFrom("utils", "data")
    importFrom("utils", "capture.output")
  importFrom("stats", "cov2cor")
  importFrom("utils", "write.table")
  importFrom("stats", "as.formula")
  importFrom("utils", "packageVersion")
  importFrom("stats", "lm")